<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>véhicule</title>
    <link rel="stylesheet" href="/public/stylesheets/styleres.css">
</head>
<body>
    <h1>Ajouter une vehicule</h1>
    <form method="POST" action="/vehicule/addvehicule">
        <label for="name_conducteur">nom conducteur:</label>
        <input type="text" id="name_conducteur" name="name_conducteur" required>
        <br>
        <label for="marque">marque:</label>
        <input type="text" id="marque" name="marque" required>
        <br>
        <label for="modele">modele:</label>
        <input type="text" id="modele" name="modele" required>
        <br>
        <label for="matricule">matricule:</label>
        <input type="text" id="matricule" name="matricule" required>
        <br>
        <label for="disponibilite">disponiblilite:</label>
        <input type="checkbox" id="disponibilite" name="disponibilite" required>
        <br>
        <br>
        <button type="submit">AJouter vehicule</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', async function (event) {
                event.preventDefault();
    
                const formData = new FormData(form);
    
                try {
                    const response = await fetch('/vehicule/addvehicule', {
                        method: 'POST',
                        body: formData,
                    });
    
                    if (response.ok) {
                        const data = await response.json();
                        showToast(data.message);
                    } else {
                        showToast('Failed to add vehicule');
                    }
                } catch (error) {
                    console.error('Error:', error);
                    showToast('An unexpected error occurred');
                }
            });
    
            function showToast(message) {
                alert(message);
            }
        });
    </script>
</body>
</html>
